<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main">EHospital</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="hosp"><a href="/main">Hospitals</a></li>
            <li id="sp"><a href="/doctors">Specialists</a></li>
            <li id="prof"><a href="/profile">My Profile</a></li>
            <li id="ahosp"><a href="/hospital/add">Add Hospital</a></li>
            <li id="signin"><a class="nav-link" href="/sign-in">Sign In</a></li>
            <li id="signup" ><a class="nav-link" href="/signup">Sign Up</a></li>
            <li id="logout"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>


<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="page-header">

            <h1 id="doctorName" class="mt-5">Doctor </h1>
        </div>
        <div class="container">
            <div class="row">

                <table class="table table-sm table-bordered">

                    <thead class="text-center">
                    <tr>
                        <th scope="col" class="text-center" colspan="2">Information about doctor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col">Specialization</th>
                        <td id="specialization" ></td>
                    </tr>
                    <tr>
                        <th  scope="col">Hospital</th>
                        <td id="hospital"></td>
                    </tr>
                    <tr>
                        <th  scope="col">Email</th>
                        <td id="email"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="container" id="pikr">
            <br/>
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class="input-group date" data-provide="datepicker">
                            <label class="form-label">Choose dates for appointments: </label>

                            <input type="text" name="daterange" value="05/01/2020 - 05/02/2020"/>

                            <!--                            <input type="text" class="form-control">-->
                            <!--                            <div class="input-group-addon">-->
                            <!--                                <span class="glyphicon glyphicon-th"></span>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button name="nwDates" id="nwDates"  class=" mt-2 btn btn-primary btn-block mb-4">SEND</button>
        </div>

        <div class="container" id="appointments">
            <table class='table table-hover mt-5'>
                <thead class='table-dark'>
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Patient</th>
                </thead>
                <tbody id="appointmentsList">
                </tbody>
            </table>

        </div>


    </div>
</main>

<!--дані про лікаря + можлиіть переглянти ільні дати і запиати на прийом-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="/js/doctorPage.js"></script>

<script src="/js/main.js"></script>
</body>
</html>