<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>

<!--перелік усіх спеціалістів лікарні-->
<div class="container">
    <br/>
    <br>
<div class="row text-center">
    <h2 th:text="${hospital.name}"></h2>
    <br/>
    <br/>
    <h6> <span th:text="${hospital.town}"></span>, <span th:text="${hospital.region}"></span></h6>
</div>

    <table class='table table-hover mt-5'>
        <thead class='table-dark'>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Specialization</th>
<th></th>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firstName}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td th:text="${doctor.birthday}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.gender}"></td>

            <td>
                <div th:each="d : ${doctor.specialization}" th:text="${d.name}"> </div>
            </td>
            <td > <a style="text-decoration: none"
                     th:href="@{/doctor/{id}(id = ${doctor.id})}">View Profile</a></td>
<!--            <form th:action="@{/del-fav}" method="post">-->
<!--                <td><input type="hidden" th:value="${book.isbn}" name="isbn"/>-->
<!--                    <button type="submit" class="btn btn-outline-dark">Delete</button>-->
<!--                </td>-->
<!--            </form>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>