<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>

<!--перелік усіх спеціалістів лікарні-->
<div class="container">
    <table class='table table-hover mt-5'>
        <thead class='table-dark'>
        <th>Isbn</th>
        <th>Title</th>
        <th>Author</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="book : ${us}">
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <form th:action="@{/del-fav}" method="post">
                <td><input type="hidden" th:value="${book.isbn}" name="isbn"/>
                    <button type="submit" class="btn btn-outline-dark">Delete</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>