<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EHospital</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main">EHospital</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="hosp"><a href="/main">Hospitals</a></li>
            <li id="sp"><a href="/doctors">Specialists</a></li>
            <li id="prof"><a href="/profile">My Profile</a></li>
            <li id="ahosp"><a href="/hospital/add">Add Hospital</a></li>
            <li id="signin"><a class="nav-link" href="/login">Sign In</a></li>
            <li id="signup" ><a class="nav-link" href="/signup">Sign Up</a></li>
            <li id="logout"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>


<div class="col-md-12">
    <form>
        <div class="form-group ad-30" style="margin-top:8px;">
            <div class="input-group search-style">
                <input class="form-control new-search-bar"  name="search" id="search" placeholder="Search by input" type="text">
                <span class="input-group-btn">
                    <button class="btn input-btn" type="" id="search-form">Search</button>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
    <input type="hidden" id="name-user" value="<%= user.username%>">
    <input type="hidden" id="name-image" value="<%= user.userImage%>">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-container">
                            <div class="card">
                                <form>
                                    <div class="content">
                                        <p class="filter">
                                            FILTER
                                        </p>
                                        <hr/>
                                        <select  multiple class="form-control" name="spialization" id="spialization">
                                            <option th:each="specialization : ${specializations}"
                                                    th:value="${specialization.name}"
                                                    th:text="${specialization.name}"></option>
                                        </select>
                                        <br>
                                        <select  class="form-control" name="town" id="town">
                                            <option value="">Filter By Town</option>
                                            <option th:each="town : ${towns}"
                                                    th:value="${town}"
                                                    th:text="${town}"></option>
                                        </select>
<br/>
                                        <select  class="form-control" name="rgion" id="rgion">
                                            <option value="">Filter By Rgion</option>
                                            <option th:each="rgion : ${rgions}"
                                                    th:value="${rgion}"
                                                    th:text="${rgion}"></option>
                                        </select>
                                        <br/>
                                        <div class="clearfix"></div>
                                        <button id="filtrHospitals" class="btn add-apply">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="category-list">
                    <div id="filtrHospitalsRsult" class="row"></div>
                    <div id="hospitals" class="row">
                        <div th:each="doctor : ${doctors}" style="display: inline-block;">
                            <form action="#" method="post" id="add-fav">
                                <div style="width: 350px; text-align: center">
                                    <a style="text-decoration: none"
                                       th:href="@{/reception/{id}(id = ${doctor.id})}">
                                        <div style="background-color: white; border-radius: 8px; margin-bottom: 15px; padding-left: 5%; padding-right: 5%">
                                            <img src = "">
                                            <div>
                                                <p> <span th:text="${doctor.getLastName()}"></span>  <span th:text="${doctor.getFirstName()}"></span></p>
                                                <div style="padding-bottom: 5px">
                                                    <div style="width:330px;display: inline-block; text-align: center">
                                                        <div th:each="sp : ${doctor.getSpecializations()}" style="display: inline; padding-right: 10px;">
                                                            <span  th:text="${sp.getName()}">, </span>
                                                        </div>
                                                        <p> <span th:text="${doctor.getHospital().getTown()}"></span>, <span th:text="${doctor.getHospital().getRegion()}"></span></p>
                                                        <p> <span th:text="${doctor.getEmail()}"></span></p>
                                                    </div>
                                                    <div style="width: 320px;">
                                                        <button style="border-radius:8px; background: #4aa1f3; width: 100%;text-shadow: none; color:white !important;padding: 5px 2px 5px 2px;font-weight: bold;">
                                                            View details
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

<!--                    <div id="hospitals" class="row">-->
<!--                        <div th:each="doctor : ${doctors}" style="display: inline-block;">-->

<!--                            <form action="#" method="post" id="add-fav">-->
<!--                                <div style="width: 350px">-->
<!--                                    <a style="text-decoration: none">-->
<!--                                        <div style="height:100%; background-color: white; border-radius: 8px; margin-bottom: 15px; padding-left: 5%; padding-right: 5%">-->
<!--                                            <img src = "">-->
<!--                                            <div>-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-sm-3"></div>-->
<!--                                                    <div class="col-sm-6 text-center">-->
<!--                                                        <p> <span th:text="${doctor.getLastName()}"></span>  <span th:text="${doctor.getFirstName()}"></span></p>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-sm-3"></div>-->
<!--                                                </div>-->
<!--                                                <div class="row text-center">-->
<!--                                                    <div class="col-sm-2"></div>-->
<!--                                                    <div class="col-sm-8">-->
<!--                                                        <div th:each="sp : ${doctor.getSpecialization()}" style="display: inline; padding-right: 10px;">-->
<!--                                                            <span  th:text="${sp.getName()}">, </span>-->
<!--                                                        </div>-->

<!--                                                        <p> <span th:text="${doctor.getHospital().getTown()}"></span>, <span th:text="${doctor.getHospital().getRegion()}"></span></p>-->
<!--                                                        <p> <span th:text="${doctor.getEmail()}"></span></p>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-sm-2"></div>-->
<!--                                                </div>-->
<!--                                                <div class="row">-->
<!--                                                    <button class="btn btn-block" style="background: #4aa1f3;color:white !important;font-weight: bold;">-->
<!--                                                        View details-->
<!--                                                    </button>-->
<!--                                                </div>-->

<!--&lt;!&ndash;                                                <div style="padding-bottom: 5px">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div style="width:160px;display: inline-block;">&ndash;&gt;-->

<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div style="width:20px; display: inline-block;"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div style="width: 120px; display: inline-block;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <button style="border-radius:8px; background: #4aa1f3; width: 100%;text-shadow: none; color:white !important;padding: 5px 2px 5px 2px;font-weight: bold;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            View details&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </form>-->

<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/js/specialists.js"></script>
<script src="/js/main.js"></script>

</body>
</html>